# This is the web directory. the git repo this box is for will 
# live inside here. It allows for using the same server config 
# amongst multiple projects. 
/project/*

# ignore system files
.DS_Store
.idea
thumbs.db
__MACOSX
._*
.*swp
.*swo